
.main-container{
  margin: 10vw;
  background-color: white;
}

.list-container{
  padding: 24px;
  flex-direction: block;
}

.filters-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.date-filter-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.title-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.page-controller-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn-top{
  padding: 5px;
  background-color: white;  
  border: 1px solid #7c8d7f;
  width: 15vw;

}

.btn-top:hover{
  background-color: #7c8d7f;  
  color: white;
}


.btn-bottom{
  padding: 5px;
  background-color: white;  
  border: 1px solid #7c8d7f;
  width: 5vw;
  margin-bottom: 10px;
}

.btn-bottom:hover{
  background-color: #7c8d7f;  
  color: white;
}

.date-filter-container{
  margin-top: 10px;
}

.date-filter-container input,label{
  margin-left: 5px;
  margin-right: 5px;
}


.title-container{
  font-size: 5em;
  margin-top: 5px;
  margin-bottom: 5px;
}